---
import LocationIcon from "@/icons/LocationIcon.astro";
import HeroBadge from "./HeroBadge.astro";
import HeroIconsRRSS from "./HeroIconsRRSS.astro";
import FlagColIcon from "@/icons/FlagColIcon.astro";
---

<div class="hero-text text-five">
  <h2 class="text-3xl md:text-start text-center">Hola, esta es mi web</h2>
  <h1 class="text-3xl md:text-start text-center font-bold text-three">
    Jhonatan Guerrero
  </h1>
  <article
    class="flex flex-col md:text-start text-center mt-3 text-wrap font-semibold"
  >
    <h2>
      <span class="block">
        Ingeniero de Sistemas y Desarrollador de Software.
      </span>
      <span class="text-three">+10</span>
      <span class=""> a침os de experiencia.</span>
      <span class="block">Experto en planeaci칩n y gesti칩n de soluciones.</span>
    </h2>
  </article>
  <article class="flex items-center my-3 gap-2 md:justify-start justify-center">
    <LocationIcon class="w-8 h-8" />
    <h2>Desde Bogot치 - Colombia</h2>
    <FlagColIcon class="w-8 h-8" />
  </article>
  <HeroIconsRRSS />
  <HeroBadge />
</div>
