---
import CopyIcon from "@/icons/CopyIcon.astro";
import CheckIcon from "@/icons/CheckIcon.astro";
---

<article
  class="flex flex-wrap md:justify-start justify-center gap-y-2 mt-3 text-gris opacity-90 md:w-96 w-full"
>
  <span
    id="user"
    class="flex items-center bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded cursor-pointer"
    title="Click para copiar"
  >
    @dejeloper
  </span>

  <span
    id="email1"
    class="flex items-center bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded cursor-pointer"
    title="Click para copiar">dejeloper@gmail.com</span
  >
  <span
    id="email2"
    class="flex items-center bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded cursor-pointer"
    title="Click para copiar">jhonatanguerrero@outlook.com</span
  >
  <span
    class="copiado hidden text-gray-100 text-xs font-medium me-2 px-2.5 py-0.5 rounded cursor-pointer"
    title="Click para copiar"
  >
    <CheckIcon class="w-4 h-4 inline-block" />
  </span>
  <span
    id="email2"
    class="copiado text-gray-100 text-xs font-medium me-2 px-2.5 py-0.5 rounded cursor-pointer"
  >
    <CopyIcon class="w-4 h-4 inline-block" />
  </span>
</article>
<script>
  const copyData = (el, removeAt = false) => {
    const user = document.querySelector(el);
    const text = user.innerText;
    if (removeAt) navigator.clipboard.writeText(text.trim().replace("@", ""));
    else navigator.clipboard.writeText(text.trim());
    const copies = document.querySelectorAll(".copiado");
    copies.forEach((copy) => {
      copy.classList.toggle("hidden");
      setTimeout(() => {
        copy.classList.toggle("hidden");
      }, 1000);
    });
  };

  const userBadge = document.querySelector("#user");
  userBadge.addEventListener("click", () => copyData("#user", true));

  const email1Badge = document.querySelector("#email1");
  email1Badge.addEventListener("click", () => copyData("#email1"));

  const email2Badges = document.querySelectorAll("#email2");
  email2Badges.forEach((badge) => {
    badge.addEventListener("click", () => copyData("#email2"));
  });
</script>
