---
import GithubIcons from "../icons/GithubIcons.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import TwitterXIcon from "../icons/TwitterXIcon.astro";
---

<article
  class="flex flex-row md:justify-start justify-center items-center gap-2 mt-6 text-gris opacity-70"
>
  <a
    href="https://www.linkedin.com/in/dejeloper/"
    target="_blank"
    class="hover:scale-125 transition ease-in-out duration-100"
    title="Linkedin"
  >
    <LinkedinIcon class="w-12 h-12" />
  </a>

  <a
    href="https://github.com/dejeloper"
    target="_blank"
    class="hover:scale-125 transition ease-in-out duration-100"
    title="Github"
  >
    <GithubIcons class="w-8 h-8" />
  </a>

  <a
    href="https://twitter.com/dejeloper"
    target="_blank"
    class="hover:scale-125 transition ease-in-out duration-100"
    title="Twitter"
  >
    <TwitterXIcon class="w-8 h-8" />
  </a>
</article>
