---
import HtmlIcon from "./HtmlIcon.astro";
import CssIcon from "./CssIcon.astro";
import JsIcon from "./JsIcon.astro";
import AngularIcon from "./AngularIcon.astro";
import ReactIcon from "./ReactIcon.astro";
import TailwindIcon from "./TailwindIcon.astro";
import CsharpIcon from "./CsharpIcon.astro";
import MysqlIcon from "./MysqlIcon.astro";
import PhpIcon from "./PhpIcon.astro";
import NodeIcon from "./NodeIcon.astro";
import SqlServerIcon from "./SqlServerIcon.astro";
import DockerIcon from "./DockerIcon.astro";
---

<section class="flex items-center justify-end select-none">
  <h3 class="text-3xl text-slate-600 mr-4 py-5 px-3 border-r border-slate-600">
    Skills
  </h3>
  <section class="flex flex-col">
    <div class="flex p-2">
      <span
        class="mx-3 hover:scale-125 transition ease-in-out duration-200"
        title="HTML"
      >
        <HtmlIcon />
      </span>
      <span
        class="mx-3 hover:scale-125 transition ease-in-out duration-200"
        title="CSS"
      >
        <CssIcon />
      </span>
      <span
        class="mx-3 hover:scale-125 transition ease-in-out duration-200"
        title="Javascript"
      >
        <JsIcon />
      </span>
      <span
        class="mx-3 hover:scale-125 transition ease-in-out duration-200"
        title="Angular"
      >
        <AngularIcon />
      </span>
      <span
        class="mx-3 hover:scale-125 transition ease-in-out duration-200"
        title="React"
      >
        <ReactIcon />
      </span>
      <span
        class="mx-3 hover:scale-125 transition ease-in-out duration-200"
        title="Tailwind"
      >
        <TailwindIcon />
      </span>
    </div>

    <div class="flex p-2">
      <span
        class="mx-3 hover:scale-125 transition ease-in-out duration-200"
        title="C#"
      >
        <CsharpIcon />
      </span>
      <span
        class="mx-3 hover:scale-125 transition ease-in-out duration-200"
        title="Mysql"
      >
        <MysqlIcon />
      </span>
      <span
        class="mx-3 hover:scale-125 transition ease-in-out duration-200"
        title="PHP"
      >
        <PhpIcon />
      </span>
      <span
        class="mx-3 hover:scale-125 transition ease-in-out duration-200"
        title="Node js"
      >
        <NodeIcon />
      </span>
      <span
        class="mx-3 hover:scale-125 transition ease-in-out duration-200"
        title="Sql Server"
      >
        <SqlServerIcon />
      </span>
      <span
        class="mx-3 hover:scale-125 transition ease-in-out duration-200"
        title="Docker"
      >
        <DockerIcon />
      </span>
    </div>
  </section>
</section>
