---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Portafolio Jhonatan Guerrero">
  <main class="mx-auto">
    <Hero />
  </main>
</Layout>
