---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio Jhonatan Guerrero">
  <main class="bg-slate-200 min-h-screen">
    <Header title="Dejeloper" />
  </main>
</Layout>
