---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Github from "../components/icons/GithubIcons.astro";
import Twitter from "../components/icons/TwitterXIcon.astro";
import Linkedin from "../components/icons/LinkedinIcon.astro";
import Skills from "../components/skills/Skills.astro";
---

<Layout title="Portafolio Jhonatan Guerrero">
  <main class="bg-gray-50 min-h-screen w-full">
    <Header title="dejeloper" />
    <div id="home" class="flex flex-col h-screen relative mt-[80px]">
      <div
        id="container"
        class="flex justify-center items-center relative h-[650px] px-10"
      >
        <div id="content">
          <div
            id="hero-main"
            class="flex flex-row justify-center items-center gap-10 mb-10"
          >
            <div id="hero-text">
              <h3 class="text-3xl text-slate-600">
                Bienvenida a mi portafolio
              </h3>
              <h1 class="text-4xl font-bold text-slate-900">
                Jhonatan Guerrero
              </h1>
              <p class="text-slate-600 mt-3">
                Ingeniero de Sistemas y Desarrollador de Software.
              </p>
              <div class="flex items-center my-3">
                <span class="text-blue-600">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
                    ></path>
                  </svg>
                </span>

                <p class="text-slate-600">Desde Bogotá</p>
              </div>
              <div
                id="social_media"
                class="flex flex-row items-center mt-6 text-slate-700 gap-2"
              >
                <p>
                  <a
                    href="https://www.linkedin.com/in/dejeloper/"
                    target="_blank"
                  >
                    <Linkedin />
                  </a>
                </p>

                <p>
                  <a href="https://github.com/dejeloper" target="_blank">
                    <Github />
                  </a>
                </p>
                <p>
                  <a href="https://twitter.com/dejeloper" target="_blank">
                    <Twitter />
                  </a>
                </p>
              </div>
            </div>
            <div id="hero-img" class="w-80">
              <picture>
                <img
                  src="./images/me_01.jpg"
                  alt="Foto de Jhonatan Guerrero"
                  title="Foto de Jhonatan Guerrero"
                  class="rounded-full border-2 border-blue-600"
                />
              </picture>
            </div>
          </div>
          <div
            id="hero-skills"
            class="flex justify-center items-center gap-10 bottom-0 absolute left-0 right-0"
          >
            <Skills />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
