---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import HeroImage from "@/components/Hero/HeroImage.astro";
import HeroText from "@/components/Hero/HeroText.astro";
import Experence from "@/components/Experence.astro";
import Contact from "@/components/Contact.astro";
import Skills from "@/components/Skills.astro";

const title = "Portafolio Jhonatan Guerrero";
const description =
  "Explora el perfil profesional de Jhonatan Guerrero, Ingeniero de Sistemas y Desarrollador de Software con más de 10 años de experiencia. Residiendo actualmente en Bogotá, Jhonatan, originario de Bucaramanga, Colombia, destaca por su compromiso con la excelencia en el diseño y desarrollo de soluciones tecnológicas innovadoras. Su experiencia abarca la gestión estratégica de proyectos, habilidades técnicas avanzadas y un enfoque ágil para adaptarse a las demandas dinámicas del sector. Descubre cómo su pasión por la resolución de problemas y su dedicación al aprendizaje continuo lo convierten en un activo valioso para proyectos tecnológicos desafiantes. ¡Conoce más sobre su trayectoria y contribuciones a través de esta plataforma!";
---

<Layout title={title} description={description}>
  <main class="mx-auto" id="top">
    <div
      class="min-h-screen flex flex-col justify-center items-center md:my-0 my-[180px]"
    >
      <SectionContainer
        class="flex-col-reverse md:flex-row my-10 md:p-0 px-10"
        id="inicio"
      >
        <HeroText />
        <HeroImage />
      </SectionContainer>

      <SectionContainer id="skills" class="p-4">
        <Skills />
      </SectionContainer>
    </div>

    <SectionContainer id="experience" class="pt-8 px-4">
      <Experence />
    </SectionContainer>
    <!-- <SectionContainer id="contact" class="">
      <Contact />
    </SectionContainer> -->
  </main>
</Layout>
