---
import Github from "../components/icons/GithubIcons.astro";
import Twitter from "../components/icons/TwitterXIcon.astro";
import Linkedin from "../components/icons/LinkedinIcon.astro";
import Location from "../components/icons/LocationIcon.astro";
import FlagCol from "../components/icons/FlagColIcon.astro";
---

<style>
  .img-profile {
    animation: morph 5s ease-in-out infinite;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #1564bf;
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    position: relative;
    transition: all 1s ease-in-out;
  }

  @keyframes morph {
    0% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    50% {
      border-radius: 60% 50% 40% 80%/60% 80% 40% 50%;
    }
    100% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
  }
</style>

<section
  id="#inicio"
  class="flex md:flex-row flex-col-reverse justify-center items-center gap-10 my-10 w-full md:w-[720px] mx-auto md:p-0 px-10"
>
  <div class="hero-text text-five">
    <h2 class="text-3xl md:text-start text-center">Hola, esta es mi web</h2>
    <h1 class="text-3xl md:text-start text-center font-bold text-three">
      Jhonatan Guerrero
    </h1>
    <article class="flex flex-col md:text-start text-center mt-3">
      <h2>Ingeniero de Sistemas y Desarrollador de Software.</h2>
      <h2>
        <span class="text-three font-semibold">+10</span> a침os de experiencia.
      </h2>
      <h2>Experto en planeaci칩n y gesti칩n de soluciones.</h2>
    </article>
    <article
      class="flex items-center my-3 gap-2 md:justify-start justify-center"
    >
      <Location />
      <h2>Desde Bogot치 - Colombia</h2>
      <FlagCol />
    </article>
    <article
      class="flex flex-row md:justify-start justify-center items-center gap-2 mt-6 text-gris opacity-70"
    >
      <a
        href="https://www.linkedin.com/in/dejeloper/"
        target="_blank"
        class="hover:scale-125 transition ease-in-out duration-100"
        title="Linkedin"
      >
        <Linkedin />
      </a>

      <a
        href="https://github.com/dejeloper"
        target="_blank"
        class="hover:scale-125 transition ease-in-out duration-100"
        title="Github"
      >
        <Github />
      </a>

      <a
        href="https://twitter.com/dejeloper"
        target="_blank"
        class="hover:scale-125 transition ease-in-out duration-100"
        title="Twitter"
      >
        <Twitter />
      </a>
    </article>
    <article
      class="flex md:justify-start justify-center mt-3 text-gris opacity-90 w-auto"
    >
      <span
        class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
      >
        @dejeloper
      </span>

      <span
        class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
        >dejeloper@gmail.com</span
      >
      <span
        class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
        >jhonatanguerrero@outlook.com</span
      >
    </article>
  </div>
  <div class="hero-img w-80">
    <picture>
      <img
        class="img-profile"
        src="./images/me_01.jpg"
        alt="Foto de Jhonatan Guerrero"
        title="Foto de Jhonatan Guerrero"
      />
    </picture>
  </div>
</section>
