---
import HeroImage from "./Hero/HeroImage.astro";
import HeroOwn from "./Hero/HeroOwn.astro";
---

<section
  id="#inicio"
  class="flex md:flex-row flex-col-reverse justify-center items-center gap-10 my-10 w-full md:w-[720px] mx-auto md:p-0 px-10"
>
  <HeroOwn />
  <HeroImage />
</section>
