---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  class={`flex flex-col justify-center items-center gap-10 w-full md:w-[720px] mx-auto text-five ${className}`}
>
  <slot />
</section>
