---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  class={`flex flex-col justify-center items-center gap-10 w-full mx-auto text-five ${className}`}
>
  <slot />
</section>
