---
import HtmlIcon from "./icons/skills/HtmlIcon.astro";
import CssIcon from "./icons/skills/CssIcon.astro";
import JsIcon from "./icons/skills/JsIcon.astro";
import AngularIcon from "./icons/skills/AngularIcon.astro";
import ReactIcon from "./icons/skills/ReactIcon.astro";
import TailwindIcon from "./icons/skills/TailwindIcon.astro";
import CsharpIcon from "./icons/skills/CsharpIcon.astro";
import MysqlIcon from "./icons/skills/MysqlIcon.astro";
import PhpIcon from "./icons/skills/PhpIcon.astro";
import NodeIcon from "./icons/skills/NodeIcon.astro";
import SqlServerIcon from "./icons/skills/SqlServerIcon.astro";
import DockerIcon from "./icons/skills/DockerIcon.astro";
---

<section
  class="flex justify-center items-center gap-10 bottom-0 absolute left-0 right-0"
>
  <div class="flex items-center justify-end select-none">
    <h3
      class="text-3xl text-slate-600 mr-4 py-5 px-3 border-r border-slate-600"
    >
      Skills
    </h3>
    <section class="flex flex-col">
      <div class="flex p-2">
        <span
          class="mx-3 hover:scale-125 transition ease-in-out duration-200"
          title="HTML"
        >
          <HtmlIcon />
        </span>
        <span
          class="mx-3 hover:scale-125 transition ease-in-out duration-200"
          title="CSS"
        >
          <CssIcon />
        </span>
        <span
          class="mx-3 hover:scale-125 transition ease-in-out duration-200"
          title="Javascript"
        >
          <JsIcon />
        </span>
        <span
          class="mx-3 hover:scale-125 transition ease-in-out duration-200"
          title="Angular"
        >
          <AngularIcon />
        </span>
        <span
          class="mx-3 hover:scale-125 transition ease-in-out duration-200"
          title="React"
        >
          <ReactIcon />
        </span>
        <span
          class="mx-3 hover:scale-125 transition ease-in-out duration-200"
          title="Tailwind"
        >
          <TailwindIcon />
        </span>
      </div>

      <div class="flex p-2">
        <span
          class="mx-3 hover:scale-125 transition ease-in-out duration-200"
          title="C#"
        >
          <CsharpIcon />
        </span>
        <span
          class="mx-3 hover:scale-125 transition ease-in-out duration-200"
          title="Mysql"
        >
          <MysqlIcon />
        </span>
        <span
          class="mx-3 hover:scale-125 transition ease-in-out duration-200"
          title="PHP"
        >
          <PhpIcon />
        </span>
        <span
          class="mx-3 hover:scale-125 transition ease-in-out duration-200"
          title="Node js"
        >
          <NodeIcon />
        </span>
        <span
          class="mx-3 hover:scale-125 transition ease-in-out duration-200"
          title="Sql Server"
        >
          <SqlServerIcon />
        </span>
        <span
          class="mx-3 hover:scale-125 transition ease-in-out duration-200"
          title="Docker"
        >
          <DockerIcon />
        </span>
      </div>
    </section>
  </div>
</section>
